.login-form input {
	font-family: sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	border-radius: 3px;
	margin: 5px 0 5px 0;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.success-message {
	margin: 15px 0 0;
	color: #66b146;
	font-size: 12px;
}

.error-message {
	margin: 15px 0 0;
	color: #e35a5a;
	font-size: 12px;
}

.login-form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 50px;
	padding: 25px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.carta-form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 25px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.button {
	border-radius: 3px;
	font-family: sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4c84af;
	width: 100%;
	border: 0;
	padding: 15px;
	margin: 5px 0 5px 0;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}

.spacer {
	height: 46px;
}

.button.button-disabled {
	cursor: not-allowed;
	opacity: 25%;
}

.button-primary {
	background: #4c84af;
}

.button-primary:hover, .button-primary:active, .button-primary:focus {
	background: #4357a0;
}

.button-secondary {
	background: #5eaf4c;
}

.button-secondary:hover, .button-secondary:active, .button-secondary:focus {
	background: #5ca043;
}

.button-warning {
	background: #af604c;
}

.button-warning:hover, .button-warning:active, .button-warning:focus {
	background: #a05643;
}

.sso-buttons {
	vertical-align:middle;
	text-align:center;
	display: flex;
	margin-top: 40px;
}

body {
	background: linear-gradient(to left, #335187, #335c80);
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}